# Rockchip GPIO configuration options

# SPDX-License-Identifier: Apache-2.0

config GPIO_ROCKCHIP
	bool "Rockchip RK3588 GPIO driver"
	default y
	depends on DT_HAS_ROCKCHIP_RK3588_GPIO_ENABLED
	help
	  Enable support for the Rockchip GPIO controller used on RK3588.
