# Rockchip CAN configuration options
#
# SPDX-License-Identifier: Apache-2.0

config CAN_ROCKCHIP
	bool "Rockchip CAN driver"
	default y
	depends on DT_HAS_ROCKCHIP_RK_CAN_ENABLED
	# select PINCTRL
	help
	  Enable support for Rockchip on-chip CAN controllers.

if CAN_ROCKCHIP

config CAN_ROCKCHIP_MAX_FILTERS
	int "Maximum number of active RX filters"
	default 6
	range 1 6
	help
	  Maximum number of concurrently active RX filters for each Rockchip
	  CAN instance. This can be overridden per instance using devicetree
	  property max-filters.

endif # CAN_ROCKCHIP
